html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(45deg, #1c962c, #95c941, #c1c43b,#95c941, #3fa007);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
